
@{
    ViewBag.Title = "Jugador";
}

<link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    Consulta de Jugadores
                </h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Selección del jugador</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="row">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="idJugador">
                                    Jugador:
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" id="idJugador" name="idJugador" onchange="getInfoJugador()">
                                        <option value="-1">Seleccione una Opción</option>
                                        @{List<ProyectoSanchez.ViewModels.JugadorVM> jugador = ViewBag.jugadores; }
                                        @foreach (var item in jugador)
                                        {
                                            <option value="@item.IdJugador">@item.Nombre</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 profile_details">
            <div class="well profile_view">
                <div class="col-sm-12">
                    <h4 class="brief"><i>Información del Jugador</i></h4>
                    <div class="left col-xs-7">
                        <h2 id="nombreJugador"></h2>
                        <br>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-sort-numeric-desc"></i> <strong>Edad:        </strong> <label id="edad"> </label> </li>
                            <li><i class="fa fa-bar-chart"></i> <strong>Peso en kilogramos:  </strong> <label id="peso"> </label> </li>
                            <li><i class="fa fa-arrows-v"></i> <strong>Estatura en metros:   </strong> <label id="estatura"></label> </li>

                        </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                        <img src="~/Content/build/images/img.jpg" alt="" class="img-circle img-responsive">
                    </div>
                </div>
                <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 col-md-offset-3 emphasis">
                        <button type="button" id="botonEquiposJugador" class="btn btn-primary ">
                            <i class="fa fa-history"> </i> Ver historial de equipos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /page content -->
<script src="~/Content/vendors/moment/min/moment-with-locales.min.js"></script>
<script src="~/Content/vendors/moment/min/moment-with-locales.min.js"></script>
<script src="~/Content/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Content/build/js/Jugador.js" type="text/javascript"></script>
