
@{
    ViewBag.Title = "Partidos";
}

<link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    Consulta de Partidos
                </h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Partidos de la fecha seleccionada <small> Seleccione un partido para ver más detalles</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="ln_solid"></div>
                        <div class="table-responsive">
                            <table id="previewTablePartidos" class="table  table-responsive table-striped display nowrap jambo_table bulk_action" style="width:100%">

                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Local </th>
                                        <th class="column-title">Visita </th>
                                        <th class="column-title">Gol local</th>
                                        <th class="column-title">Gol visita</th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Acción</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="previewTablePartidosBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="modalEditarPartido">Large modal</button>
</div>

<div class="modal fade bs-example-modal-lg" id="modalEditarPartido" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Editar Información</h4>
            </div>
            <div class="modal-body">
                <form id="formPartido" data-parsley-validate class="form-horizontal form-label-left" autocomplete="off">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Editar </h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="local">
                                            Equipo Local:
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" id="local" name="local">
                                                <option value="none">Seleccione una Opción</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="visita">
                                            Equipo Visita:
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" id="visita" name="visita">
                                                <option value="none">Seleccione una Opción</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="golcasa">Gol Casa:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" class="form-control col-md-7 col-xs-12" id="golcasa" min="0" step="1" name="golcasa" value="0" />
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="golvisita">Gol Visita</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" class="form-control col-md-7 col-xs-12" id="golvisita" min="0" step="1" name="golvisita" value="0" />
                                        </div>
                                    </div>
                                    <div class="item form-group" hidden>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="number" class="form-control col-md-7 col-xs-12" idPartido="" idTorneo="" id="idElementos" min="0" step="1" name="golvisita" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="form-group">
                                        <div class="text-center">
                                            <button type="reset" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" id="botonGuardar" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- /page content -->
<script src="~/Content/vendors/moment/min/moment-with-locales.min.js"></script>
<script src="~/Content/vendors/moment/min/moment-with-locales.min.js"></script>
<script src="~/Content/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Content/build/js/Partido.js" type="text/javascript"></script>

