@{
    ViewBag.Title = "Pagina Principal";
}

<link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    Consulta de Fecha Calendario
                </h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Mantenimiento de Fecha Calendario</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="row">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="idTorneo">
                                    Torneo:
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" id="idTorneo" name="idTorneo" onchange="getFechasCalendarioXTorneo()">
                                        <option value="-1">Seleccione una Opción</option>
                                        @{List<ProyectoSanchez.ViewModels.TorneoVM> torneo = ViewBag.torneos; }
                                        @foreach (var item in torneo)
                                        {
                                            <option value="@item.IdTorneo">@item.Nombre</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Fechas del torneo seleccionado <small> Seleccione una fecha para ver más detalles</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="ln_solid"></div>
                        <div class="table-responsive">
                            <table id="previewTableFechas" class="table  table-responsive table-striped display nowrap jambo_table bulk_action" style="width:100%">

                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Fecha </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Acción</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="previewTableFechasBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- /page content -->
<script src="~/Content/vendors/moment/min/moment-with-locales.min.js"></script>
<script src="~/Content/vendors/moment/min/moment-with-locales.min.js"></script>
<script src="~/Content/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Content/build/js/FechaCalendario.js" type="text/javascript"></script>